accelerate==1.12.0
datasets==4.4.1
flash_attn==2.8.1
huggingface_hub==0.34.4
kmeans-pytorch==0.3
MarkupSafe==2.1.5
matplotlib==3.10.8
matplotlib-inline 
ninja==1.13.0
nltk==3.9.2
numpy==2.3.5
openai==2.15.0
pandas==2.3.3
patsy==1.0.2
peft==0.18.1
pydantic==2.12.5
pydantic_core==2.41.5
regex==2025.11.3
requests==2.32.5
rouge-score==0.1.2
safetensors==0.6.2
scikit-learn==1.8.0
scipy==1.17.0
seaborn==0.13.2
sentence-transformers==5.0.0
statsmodels==0.14.6
sympy==1.13.1
tabulate==0.9.0
tokenizers==0.22.2
torch==2.3.1+cu121
torchaudio==2.3.1+cu121
torchvision==0.18.1+cu121
transformers==4.57.3
triton==2.3.1
trl==0.19.1

